.masonry-grid {
    width: 100%;
    margin: 24px auto;
    columns: 4;
    column-gap: 16px;
}
@media (max-width: 1030px) {
    .masonry-grid {
        columns: 3;
    }
}

@media (max-width: 767px) {
    .masonry-grid {
        columns: 2;
    }
}